BODY, TD, P
{
    font-family: Verdana;
    font-size: 12px;
}
PRE
{
    font-size: 12px;
}
HR
{
    height: 1px
}
H2
{
    margin: 0px 0px
}
A.category
{
    font-weight:bold;
    text-decoration:underline;
}
A.question
{
    text-decoration:none;
    margin-left:2em;
}
DIV.answer
{
    text-decoration:none;
    color: rgb(204,51,0);
    margin-left:5em;
}
A.toplink
{
    font-size: 11px;
    vertical-align: bottom;
}
DIV.lastupdate
{
    font-style: italic;
}
.footnote
{
	font-size: 11px;
}