BODY, P, TD, DIV {
	 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	 font-size: x-small;
}

TABLE.keybindings TD {
	vertical-align: top;
	font-size: 70%;
}
TD.keyname {
	white-space: nowrap;
	font-weight: bold;
	padding-right: 1em;
	text-align: right;
}

A, A:Visited {
	color: #0000ff;
}

A:Visited:hover {
	background: #EEEEEE;
}

.category {
	font-weight: bold;
	font-size: 110%;
	margin-top: 1em;
	color: #000080;
}

DIV.question {
	margin-left: 2em;
	margin-top: 0.2em;
	cursor: hand;
}

DIV.answer, DIV.answer TABLE {
	color: #000080;
}
DIV.answer {
	font-weight: normal;
	margin-left: 5em;
	margin-bottom: 1em;
	/*border: inset 2px;*/
	background: #eeeeee;
	padding: 5px 5px;
}

A:Visited.toggle {
	width: 1em;
	text-align: center;
	text-decoration: none;
}
