/* localsearch_blue.css
*
* Add stylesheet preferences here to keep them from being
* overwritten on upgrades.
* 
* Use search.css as a guide, copying settings from that
* file to this file, and then modifying them to suit your
* personal taste.
*/

body
{
 background: #245DDB url(xptoolbar1_blue_top.bmp) repeat-x fixed top;
}
div#dqsdwrapper{
 background: url(xptoolbar1_blue_bottom.bmp) repeat-x fixed bottom;
}

.clock
{
 background: transparent;
 color: #fcfcfc;
 font-weight: bold;
 border-width:0px;
 padding-top:2px;
 padding-left:4px;
 padding-right:4px;
 padding-bottom:2px;
}

.txtfld
{
 background: #ffffff;
 color: black;
 border-width:0px;
 padding-top:4px;
 padding-left:4px;
 padding-right:4px;
 padding-bottom:4px;
}

.gobutton, .mogobutton, .mdgobutton
{
 background: transparent repeat-x fixed bottom;
 border:0px;
 color: white;
 position:absolute;
}


/*
Styles for the calendar
*/
.cal
{
 color:white;
 background-color: highlight;
}
.calnavmonth, .calnavmonthhigh, .calnavyear, .calnavyearhigh
{
  padding:1px;
  border-width:0;
  color:yellow;
}
.caltodayevent, .caltodayeventhigh
{
  background-color:menu;
  border-width:0;
}

.caltoday, .caltodayhigh
{
  background-color:darkblue;
  border-width:0px;
}
.caleventday, .caleventdayhigh
{   
  font-weight:bold;
    color:#ffa000;
}
.calgray 
{
    color:#c0c0c0;
}
/*
Styles for the help box
*/
.helpboxBody
{
  background: window;
}
