BODY, P, TD, DIV {
	 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	 font-size: x-small;
}

TD.keyname {
	white-space: nowrap;	
}

A, A:Visited {
	color: #0000ff;
}

A:Visited:hover {
	background: #EEEEEE;
}

.category {
	font-weight: bold;
	font-size: 110%;
	margin-top: 1em;
	color: #000080;
}

.question {
	margin-left: 2em;
	margin-top: 0.2em;
	cursor: hand;
}

.answer {
	font-weight: normal;
	margin-left: 5em;
	margin-bottom: 1em;
	color: #cc3300;
}

A:Visited.toggle {
	width: 1em;
	text-align: center;
	text-decoration: none;
}
