BODY, P, TD, DIV {
	 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	 font-size: x-small;
}

H1, H2, H3 { 
	text-align: center;
	margin-bottom: 0px;
}

TABLE.keybindings TD {
	vertical-align: top;
	font-size: 70%;
}
TD.keyname {
	white-space: nowrap;
	font-weight: bold;
	padding-right: 1em;
	text-align: right;
}

A, A:Visited {
	color: #000080;
}

A:Visited:hover {
	background: #EEEEEE;
}

.category {
	font-weight: bold;
	font-size: 110%;
	margin-top: 1em;
	color: #000080;
	border-bottom: solid 1px #cccccc;
}
.categorytitle {
 	width: 75%;
}

DIV.question {
	margin-left: 2em;
	/*margin-top: 0.2em;*/
	cursor: hand;
}

DIV.answer, DIV.answer TABLE {
	color: #000080;
}
DIV.answer {
	font-weight: normal;
	margin-left: 5em;
	/*margin-bottom: 1em;*/
	/*border: inset 2px;*/
	background: #eeeeee;
	padding: 3px 3px;
}

A:Visited.toggle {
	width: 1em;
	text-align: center;
	text-decoration: none;
}

.toplink {
	font-size: 60%;
	font-weight: normal;
}

.lastupdate {
    font-style: italic;
    text-align: center;
    font-size: 80%;
}

DIV.homepage {
	text-align: center;
	padding: 1em 1em;
}